.header {
    text-align: center;
    position: relative;
    overflow: hidden;

    min-height: calc(100vh - 60px - 48px);
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    min-height: calc(500px - 60px);
    margin: auto;
    gap: 16px;

    p {
        font-weight: bold;
    }

    & > * {
        margin: 0;
    }
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.warning {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-color-gray-900);
    padding: 8px;
    border-radius: var(--ifm-pre-border-radius);
    box-shadow: var(--ifm-global-shadow-lw);
}

.logo {
    width: auto;
    height: 145px;
    margin: 0 auto;
}

.logo:last-child {
    display: none;
}

html[data-theme="dark"] .title {
    .logo:first-child {
        display: none;
    }
    .logo:last-child {
        display: inline;
    }
}

.getStarted {
    // color: var(--ifm-color-primary);
}

.linksWrapper {
    width: 100%;
    gap: 32px;
    flex: 1;
    padding: 64px 0;
    max-height: 50vh;

    background-color: var(--ifm-background-surface-color);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 32px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.45);
    padding: 24px;
    background-color: var(--ifm-background-surface-color);
    border-radius: var(--ifm-global-radius);
    max-width: 300px;
    text-align: left;
    min-width: 250px;

    header {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: var(--ifm-heading-margin-bottom);

        h3 {
            margin: 0;
        }

        svg path {
            fill: var(--ifm-font-color-base);
        }
    }

    .button {
        background-color: transparent;
        color: var(--ifm-navbar-link-color);
        height: auto;
        width: 100%;
        transition: all var(--ifm-transition-fast)
            var(--ifm-transition-timing-default);

        &:hover {
            color: var(--ifm-color-primary);
        }
    }
}

.features {
    background-color: var(--ifm-background-color);

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    & > p {
        max-width: 600px;
        text-align: center;
        margin: auto;
        margin-bottom: 3rem;
    }

    a:has(div) {
        text-decoration: none;
        z-index: 10;
        color: var(--ifm-color-scheme);
    }

    li {
        height: 100%;
    }

    .viewAll {
        background-color: transparent;
        color: var(--ifm-navbar-link-color);
        height: auto;
        width: min-content;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: var(--ifm-spacing-horizontal);
    }
}

.more {
    background-color: var(--ifm-color-primary);
    padding: 32px 64px;
    border-radius: var(--ifm-card-border-radius);
    box-shadow: var(--ifm-global-shadow-lw);
    width: fit-content;
    margin: auto;

    h2 {
        color: var(--ifm-color-gray-900);
        width: 100%;
        text-align: center;
    }
}
.buttons {
    display: flex;
    gap: 32px;

    a:first-child div {
        background-color: var(--ifm-color-gray-900);
        color: var(--ifm-color-primary);
        border-color: var(--ifm-color-gray-900);
    }

    a:last-child div {
        background-color: transparent;
        border-color: var(--ifm-color-gray-900);
        color: var(--ifm-color-gray-900);
    }
}
